html {
    background-color: #121212;
}

* {
    /*font-family: 'Varela Round', sans-serif;*/
    font-family: 'Maven Pro', sans-serif;
}

#fav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 890px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fav-category {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 200px;
    margin: 10px;
}

.fav-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: #1e1e1e;
    border-radius: 4px 4px 0px 0px;
    color: #dcdcdc;
    padding: 10px;
    border: none;
    border: 1px solid rgb(128, 128, 128, 0.3);
    cursor: pointer;
    width: 202px;
}

.fav-list {
    overflow: auto;
    width: 100%;
    text-align: center;
    height: 180px;
    background-color: #1e1e1e;
    border: 1px solid rgb(128, 128, 128, 0.3);
    border-top: none;
    border-radius: 0px 0px 4px 4px;
    transition: height 200ms ease-in-out
}

.fav-list>li {
    margin-bottom: 2px;
}

.fav-list>li:first-child {
    margin-top: 10px;
}

#search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: -70px;
}

html, body, main {
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fav-hide {
    height: 0;
    padding: 0;
    overflow: none;
}

.fav {
    display: block;
}

a {
    color: #dcdcdc;
    text-decoration: none;
}

a:hover, a:active {
    color: #ffffff;
    text-decoration: underline;
}

#search-input {
    background-color: #1e1e1e;
    border: 1px solid rgb(128, 128, 128, 0.3);
    color: #dcdcdc;
    height: 35px;
    width: 400px;
    font-size: 22px;
    padding: 7px;
    padding-left: 13px;
    border-radius: 4px;
    padding-right: 55px;
}

#search-input:focus {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0), 0 0 10px rgba(30,130,230,0.5);
    box-shadow: 0 0px 0px rgba(0,0,0,0), 0 0 10px rgba(30,130,230,0.5);
}

#search-btn {
    color: #dcdcdc;
    cursor: pointer;
    border-radius: 4px;
    height: 50px;
    font-size: 22px;
    width: 50px;
    border: none;
    background: none;
    margin-left: -55px;
}

i {
    color: #dcdcdc;
}