html {
    background-color: grey;
}

#fav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fav-category {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 200px;
    /*border: 1px solid red;*/
    
}

.fav-title {
    width: 100%;
    text-align: center;
    /*border: 1px solid blue;*/
    font-weight: bold;
}

.fav-list {
    overflow: auto;
    width: 100%;
    text-align: center;
    height: 179px;
    transition: height 200ms ease-in-out
}

#search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: -70px;
}

html, body, main {
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fav-hide {
    /*display: none;*/
    height: 0;
    overflow: none;
}